

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 modaltitl">
			<table width="100%">
				<tr><td width="90%" class="modaltitltd">
						Catálogo Proveedor
					</td>
					<td width="10%" align="right" class="modaltitltd">
						<button type="button" class="modaltitlb" (click)="closeDialog()">X</button>
					</td></tr>
			</table>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">

		<table width="100%" class="mt-4">
			<tr>

			</tr>
			<tr>
				<td width="5%" class="modaltitltd">
				</td>
				<td width="50%" class="modaltitltd">
					<input type="text" [(ngModel)]="selectedProveedor.nit_proveedor"
						placeholder="Buscar por Nit" class="form-control">

				</td>
				<td width="10%" class="modaltitltd"></td>
				<td width="30%" class="modaltitltd">
					<button (click)="find()" class="btn btn-primary">
						Buscar Datos
					</button>
				</td>
			</tr>
		</table>



		<div class="card mt-4">
			<div class="card-body">
				<h4>Datos Proveedor {{ selectedActividad1 }} </h4>
				<div class="form-group">
					<table width="100%">
						<tr>
							<td width="35%" >
								<select class="form-control" (change)="openForEditTipoProveedor($event)" [(ngModel)]="tipoProv">
									<option selected disabled> 
										Seleccione una opción</option>
									<option value="6" >Individual</option>
									<option value="7" >Juridico</option>
								</select>
							</td>
							<td width="35%">
								<select class="form-control" (change)="openForEditActividad()" [(ngModel)]="selectedActividad">

									<option disabled> <!-- {{selectedProveedor.id_actividad_economica}}-->
										Seleccione una opción </option>

									<option *ngFor="let actividad of actividadArray"
										(click)="openForEditActividad(actividad)"
										[ngValue]="actividad"
										>
										<span class="badge badge.primary"><!--{{actividad.id_actividad_economica}}--></span>
										{{actividad.nombre_actividad_economica}}
									</option>
								</select>

							</td>
							<td width="30%">
								<div  *ngIf="selectedActividad.id_actividad_economica == 1" >

									<select class="form-control" [(ngModel)]="selectedComercio">
										<option selected disabled> <!-- {{selectedProveedor.id_tipo_comercio}}-->
											{{selectedProveedor.tipo_comercio}} </option>

										<option *ngFor="let comercio of comercioArray"
											(click)="openForEditTipoComercio(comercio)"
											[ngValue]="comercio"
											(change)="GetTipoComercioList(selectedActividad.id_actividad_economica)">
											<span class="badge badge.primary"><!--{{comercio.id_tipo_comercio}}--></span>
											{{comercio.tipo_comercio}}
										</option>
									</select>
								</div>

							</td>
						</tr>
					</table>

					<div class="form-row">
						<label for="nit" class="col-sm-3 col-form-label">(*)NIT</label>
						<input id="nit" type="text" [(ngModel)]="selectedProveedor.nit_proveedor"
							 class="form-control">
					</div>

					<br>

					<div class="form-group row my-4">
						<label for="asesor" class="col-sm-2 col-form-label">Nombre de Asesor Legal</label>
						<div class="col-sm-4">
							<input id="asesor" type="text"
							[(ngModel)]="asesor"
							 class="form-control">
						</div>

						<label for="fecha_fin_asesor" class="col-sm-2 col-form-label">Fecha fin de Nombramiento de Asesor Legal</label>
						<div class="col-sm-4">
							<input id="fecha_fin_asesor" type="date"
							[(ngModel)]="fechaFinAsesor"
							placeholder="Fecha fin" class="form-control">
						</div>
					</div>
					

					<div class="form-group row mt-4">

						<label for="nombre1" class="col-sm-2 col-form-label">(*) Primer Nombre</label>
						<div class="col-sm-4">
							<input id="nombre1" type="text"
								[(ngModel)]="selectedProveedor.primer_nombre" 
								class="form-control">
						</div>

						<label for="nombre2" class="col-sm-2 col-form-label"> Segundo Nombre</label>
						<div class="col-sm-4">
							<input id="nombre2" type="text"
								[(ngModel)]="selectedProveedor.segundo_nombre" class="form-control">
						</div>

						<label for="nombre3" class="col-sm-2 col-form-label">Tercer Nombre</label>
						<div class="col-sm-4">
							<input id="nombre3" type="text"
								[(ngModel)]="selectedProveedor.tercer_nombre" class="form-control">
						</div>


						<label for="apellido1" class="col-sm-2 col-form-label">(*) Primer Apellido</label>
						<div class="col-sm-4">
							<input id="apellido1" type="text"
								[(ngModel)]="selectedProveedor.primer_apellido" class="form-control">
						</div>


						<label for="apellido2" class="col-sm-2 col-form-label"> Segundo Apellido</label>
						<div class="col-sm-4">
							<input id="apellido2" type="text"
								[(ngModel)]="selectedProveedor.segundo_apellido" class="form-control">
						</div>


						<label for="apellidocasada" class="col-sm-2 col-form-label">Apellido de
							Casada</label>
						<div class="col-sm-4">
							<input id="apellidocasada" type="text"
								[(ngModel)]="selectedProveedor.apellido_casada" class="form-control">
						</div>
					</div>

					<div class="form-group row mt-4" *ngIf="selectedProveedor.tipo_proveedor == 7">
						
							<label for="empresa1" class="col-sm-2 col-form-label">(*)nombre empresa</label>
							<div class="col-sm-4">
								<input id="empresa1" type="text"
									[(ngModel)]="selectedProveedor.nombre_empresa" class="form-control">
							</div>
	
						
			
							
							<label for="empresa2" class="col-sm-2 col-form-label">(*)razon social</label>
							<div class="col-sm-4">
								<input id="empresa2" type="text"
									[(ngModel)]="selectedProveedor.razon_social" 
									class="form-control">
							</div>
						
					</div>

					<div class="form-group row mt-4" *ngIf="selectedProveedor.tipo_proveedor == 6">
						<label for="proveedor" class="col-sm-2 col-form-label">(*)Nombre Comercial</label>
						<div class="col-sm-4">
							<input id="proveedor" type="text" [(ngModel)]="selectedProveedor.nombre"
							class="form-control">
						</div>
					</div>

					<br>

					<h4>Datos de Contacto (para recibir notificaciones) </h4>


					<div class="form-group row">

						<label for="telefono" class="col-sm-2 col-form-label">(*) Número de
							teléfono</label>
						<div class="col-sm-4">
							<input id="telefono" type="text" [(ngModel)]="selectedProveedor.telefono"
								pattern="[0-9]+"
								class="form-control">
						</div>

						<label for="correo1" class="col-sm-2 col-form-label">(*) Correo electrónico</label>
						<div class="col-sm-4">
							<input id="correo1" type="text" [(ngModel)]="selectedProveedor.email"
							class="form-control">
						</div>

					</div>
					<table width="100%">
						<td width="30%">
							Habilitar notificaciones electrónicas
						</td>
						<td width="10%">
							<input id="checknotification" type="checkbox" name="tc"
								[ngModel]="notificacion" (change)="notificacion= !notificacion"
								placeholder="marcar aqui para notificaciones electronicas">
						</td>
						<td width="30%"></td>
						<td width="30%"></td>
					</table>
					<table width="100%">
						<td width="30%">
							Permitir calificación
						</td>
						<td width="10%">
							<input id="checknotification4" type="checkbox" name="tc"
								[ngModel]="calificacion" (change)="calificacion= !calificacion"
								placeholder="marcar aqui para permitir calificacion">
						</td>
						<td width="30%"></td>
						<td width="30%"></td>
					</table>

					<br>


					<h4 class="mt-4">Dirección </h4>					
					<div class="form-group row">

						<label for="telefono" class="col-sm-2 col-form-label">Departamento:</label>
						<div class="col-sm-4">
							<select class="form-control" [(ngModel)]="selectedDepartamento" (change)="openForEditDepartamento(selectedDepartamento)">
								<option selected disabled> <!--{{selectedProveedor.codigo_departamento}}-->
									Seleccione un departamento</option>
		
								<option *ngFor="let departamento of departamentoArray"
									(click)="openForEditDepartamento(departamento)"
									(change)="GetDepartamentoList()"
									[ngValue]="departamento">
									{{departamento.nombre_departamento}}
								</option>
							</select>
						</div>

						<label for="correo1" class="col-sm-2 col-form-label">Municipio:</label>
						<div class="col-sm-4">
							<select class="form-control" [(ngModel)]="selectedMunicipio">

								<option selected disabled> Seleccione Municipio </option>
								<option *ngFor="let municipio of municipioArray"
									(click)="openForEditMunicipio(municipio)"
									(change)="GetMunicipioList(selectedDepartamento.codigo_departamento)"
									[ngValue]="municipio">
									{{municipio.nombre_municipio}}
								</option>
							</select>
						</div>

					</div>

					<div class="form-group row">

						<label for="direccion" class="col-sm-2 col-form-label">(*) Direccion</label>
						<div class="col-sm-4">
							<input id="direccion" type="text"
								[(ngModel)]="selectedProveedor.direccion"
								class="form-control">
						</div>

						<label for="zona" class="col-sm-2 col-form-label">(*) Zona</label>
						<div class="col-sm-4">
							<input id="zona" type="text"
								[(ngModel)]="selectedProveedor.direccion_zona" pattern="[0-9]+"
								class="form-control">
						</div>

					</div>

					<br>
					
					<table width="100%">
						<td width="30%">
							Habilitar conciliación previa
						</td>
						<td width="10%">
							<input id="checknotification3" type="checkbox" name="tc"
								[ngModel]="conciliacion" (change)="conciliacion= !conciliacion"
								placeholder="marcar aqui para habilitar conciliacion previa">
						</td>
						<td width="30%"></td>
						<td width="30%"></td>
					</table>

					<table width="100%">
						<tr><td width="20%" class="modaltitltd">
								Es servicio público
							</td>
							<td width="10%" class="modaltitltd">
								<input id="checknotification2" type="checkbox" name="tc"
									[ngModel]="servicioPublico" (change)="servicioPublico=
									!servicioPublico" placeholder="Es servicio publico">
							</td>
							<td width="30%"></td>
							<td width="30%"></td>

						</tr>
					</table>
					<br>
				</div>
				<button (click)="addOrEdit()" class="btn btn-primary">
					Guardar cambios
				</button>
				<button
					*ngIf="selectedProveedor.id_proveedor !== 0"
					class="btn btn-danger"
					(click)="delete()">
					Borrar
				</button>
			</div>
		</div>


	</div>
</div>