<html>
<head>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 modaltitl">
			<table width="100%">
			<tr><td width="90%" class="modaltitltd">
				Verificación de Datos ({{data.quejanumero}})
			</td>
			<td width="10%" align="right" class="modaltitltdb">
				<button type="button" class="modaltitlb" (click)="closeDialog()">X</button>
			</td></tr>
			</table>
		</div>
	</div>
</div>
<ng-container *ngIf="flagformvisible >= 3; else NoForm">
	<div class="container">
		<ng-container *ngIf="flagValidadorRegistros">
			<div class="row">
			 <div class="col-lg-12">
				&nbsp;
			 </div>
			</div>
			<div class="row">
			 <div class="col-lg-12">
				<b>La verificación de datos ya fué completada para esta queja.</b>
			 </div>
			</div>
		</ng-container>
		<ng-container *ngIf="!flagValidadorRegistros">
			<div class="row">
			 <div class="col-lg-12">
				<b>{{msg_deshabilitado}}</b>
			 </div>
			</div>
		</ng-container>
	</div>
	<div *ngIf="flagEmailSent" class="alert alert-success col-lg-12" [@EnterLeave]="'flyIn'">
		Se envió un correo electrónico al Consumidor.
	</div>
	<div *ngIf="flagEmailError" class="alert alert-danger col-lg-12" [@EnterLeave]="'flyIn'">
		En este momento no fué posible enviar correo electrónico al Consumidor, favor dar seguimiento.
	</div>
	<div *ngIf="flagInfoError" class="alert alert-danger col-lg-12" [@EnterLeave]="'flyIn'">
		Hubo un error al procesar esta acción, por favor intente de nuevo.
	</div>
</ng-container>
<div class="container mt-5">
	<div class="card-group">
		<div class="card">
		  <div class="card-body">
			<h5 class="card-title">Verificar datos de queja</h5>
			<p class="card-text">Verificación y actualización de los datos de la queja</p>
		  </div>
		  <div class="card-footer text-right">
			<small class="text-muted mr-3">Click para verificar </small><a (click)="VericarDatos()" [routerLink]=""><i class="fa fa-refresh fa-2x" aria-hidden="true"></i></a>
		  </div>
		</div>
		<div class="card">
		  <div class="card-body">
			<h5 class="card-title">Interaccion con Usuario</h5>
			<p class="card-text">Generar o enviar comunicación con el Consumidor por medio de correo electrónico</p>
		  </div>
		  <div class="card-footer text-right">
			<small class="text-muted mr-3">Enviar Correo </small>
			<a (click)="AgregarInteraccion()" [routerLink]="" *ngIf="cargarIcono == false; else loading">
				<i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
			</a>
			<ng-template #loading>
				<span class="fa fa-spinner fa-spin fa-3x"></span>
			</ng-template>
		  </div>
		</div>
		<div class="card">
		  <div class="card-body">
			<h5 class="card-title">Generar Caratula</h5>
			<p class="card-text">Generar caratula de información de la queja, formato DIACO-AQ-FO-02</p>
		  </div>
		  <div class="card-footer text-right">
			<small class="text-muted mr-3">Generar Formulario</small>
			<a (click)="GenerarRegistro()" [routerLink]="" *ngIf="cargarIconoPdf == false; else loadingPdf">
				<i class="fa fa-file-pdf-o fa-2x " style='color: red' aria-hidden="true"></i>
			</a>
			<ng-template #loadingPdf>
				<span class="fa fa-spinner fa-spin fa-3x"></span>
			</ng-template>

			<a *ngIf="downloadFile" (click)="openFormularioQuejaRegistro()" [routerLink]="" class="ml-2"><i class="fa fa-download fa-2x" aria-hidden="true"></i></a>
		  </div>
		</div>
	  </div>
	  <table class="table table-sm table-hover">
		  <thead>
			  <tr>
				  <th>Descripción</th>
				  <th>Fecha</th>
			  </tr>
		  </thead>
		  <tbody>
			  <tr *ngFor="let thisItem of lst_int">
				  <td>Interaccion con Consumidor</td>
				  <td>{{thisItem.fecha | date: "dd/MM/yyyy hh:mm:ss aa"}}</td>
			  </tr>
		  </tbody>
	  </table>
</div>

<ng-container *ngIf="loaderror">
	<div class="container">
	<div class="row">
	 <div class="col-lg-1">
		&nbsp;
	 </div>
	</div>	
	<div class="row">
	 <div class="col-lg-10">
		<!-- Hubo un error al cargar el formulario, intente de nuevo mas tarde. -->
		Hubo un error al cargar la queja debido a que no se ingresó correctamente. Ponerse en contacto con el área de soporte técnico.

	 </div>
	</div>
	</div>	
</ng-container>


</body>
</html>

